/* colors:
95D7AE
CBE2F5
e6a6ff
*/
@font-face {
    font-family: 'VelaSans';
    src: url('./fonts/VelaSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VelaSans';
    src: url('./fonts/VelaSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'VelaSans';
    font-weight: normal;
}

body {
    margin: 0 auto;
    background-color: #CBE2F5;
    background-image: url('./SVG/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
}

.a-left {
    flex: 1;
}

.a-left-wrapper {
    margin-left: 25%;
}

.a-right {
    flex: 1;
}

.a-right-wrapper {
    margin: 0 25% 0 0%;
}

.a-hello {
    font-size: 30px;
}

.a-name {
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
}

.a-roles {
    overflow: hidden;
}

.a-roles-wrapper {
    font-size: 30px;
}
.a-roles-item1 {
    position: absolute;
    opacity:0;
    animation: animation1 12s infinite;
}
.a-roles-item2 {
    position: absolute;
    opacity:0;
    animation: animation2 12s infinite;
}
.a-roles-item3 {
    position: absolute;
    opacity:0;
    animation: animation3 12s infinite;
}
.a-roles-item4 {
    position: absolute;
    opacity:0;
    animation: animation4 12s infinite;
}


@keyframes animation1 {
    0% {
        opacity:0;
    }
    10% {
        opacity:1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity:0;
    }
}

@keyframes animation2 {
    40% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    60% {
        opacity:0;
    }
}

@keyframes animation3 {
    60% {
        opacity:0;
    }
    70% {
        opacity:1;
    }
    80% {
        opacity:0;
    }
}

@keyframes animation4 {
    80% {
        opacity:0;
    }
    90% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

/* Alternative text carousel

.a-roles-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite ;
}

@keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
        transform:translateY(0px)
    }
  } */

.a-roles-item {
    height:50px;
    font-size: 30px;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.p-section-title {
    margin-bottom: 10vh;
    font-size: 60px;
    font-weight: bold;
}

.project-wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-item {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    width: 20vw;
    margin: 0 6vw;
    text-align: center;
    background-color: #e6a6ff;
    border: 3px solid black;
    box-shadow: 20px 20px black;
    transition: 0.3s ease-in-out;
}

.project-item:hover {
    transform:translateY(-5px);
    box-shadow: 25px 25px black;
    background-color: #fffbe6;
}

.p-title {
    align-self: center;
    padding: 20% 0;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-self: center;
    font-weight: bold;
}

.p-text {
    padding: 0 2vw;
    font-size: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.contact-wrapper {
    height:70%;
    width: 80%;
    background-color: #e6a6ff;
    border: 3px solid black;
    box-shadow: 20px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-title {
    font-size: 60px;
    font-weight: bold;
}

.c-left {
    flex:1
}

.c-right {
    flex:1;
}

.c-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
}

.c-left-wrapper div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transition: 0.3s ease-in-out;
}

.c-left-wrapper div:hover {
    transform: translateY(-5px)
}

.c-left-wrapper img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color:black;
    transition: color 0.2s ease-out;
}